@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
a{
    font-size: 1.6rem;
}
p{
    text-align: justify;
    font-size: 1.6rem;
}
div{
    font-size: 1.6rem;
}
.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 111rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
}

.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 3.6rem;
    color: #1CB69B;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 1.5rem;
    padding: 0.3rem;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #1CB69B;
}
.nav-responsive{
    background-color: #1CB69B;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: none;
}
.inicio{
    background: linear-gradient(to top,rgba(30,35,38,.8), rgba(30,35,38,1)), url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 2rem;
    background-color: #1e2326;
    max-width: 35rem;
    margin: auto;
    text-align: center;
    border-radius: 4rem;
}
.inicio .contenido-banner img{
    margin-top: 4rem;
    border: 1rem solid #1cb698;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    margin-top: 3rem;
    font-size: 4.2rem;
    font-family: 'Righteous';
}
.inicio .contenido-banner h2{
    font-size: 1.5rem;
    font-weight: normal
}
.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 4.2rem;
    height: 4.2rem;
    line-height: 4.2rem;
    margin: 4rem 0.5rem;
    font-size: 2rem;
    transition: .3s
}
.inicio .contenido-banner .redes a:hover{
    background-color: #1cb698;
}
.comomepercibo{
    height: 100vh;
    background-color: #1e2326;
    color: #fff;
    padding: 5rem 2rem;
}
.comomepercibo .contenido-seccion{
    max-width: 110rem;
    margin: auto;
}
.comomepercibo h2{
    font-size: 4.8rem;
    font-family: 'Righteous';
    text-align: center;
    padding: 2rem 0;
}
.comomepercibo .contenido-seccion p{
    font: 1rem;
    line-height: 2.2rem;
    margin-bottom: 2rem;
}
.comomepercibo .contenido-seccion p span{
    color: #1cb698;
    font-weight: bold;
}
.comomepercibo .fila{
    display: flex;
    justify-content: space-between;
}
.comomepercibo .fila img{
    height: 40rem;
}
.comomepercibo .fila .co{
    margin-left: 20rem;
    width: 50%;
}
.comomepercibo .fila .col h3{
    margin-top: 50px;
    font-size: 2.8rem;
    text-align: center;
    font-family: 'Righteous';
    margin-bottom: 2.5rem;
}
.comomepercibo .fila .col ul{
    list-style: none;
}
.comomepercibo .fila .col ul li{
    margin: 1.2rem 0;
}
.comomepercibo .fila .col ul li strong{
    display: inline-block;
    color: #1cb698;
    width: 13rem;
}
.comomepercibo .fila .col ul li span{
    background-color: #1cb698;
    padding: 0.3rem;
    font-weight: bold;
    border-radius: 0.5rem;
}
.comomepercibo .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 20rem;
}
.comomepercibo .fila .col .contenedor-intereses .interes{
    width: 10rem;
    height: 10rem;
    background-color: #252A2E;
    border-radius: 1rem;
    margin: 0 1.5rem 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.comomepercibo .fila .col .contenedor-intereses .interes:hover{
    background-color: #1cb698;
}
.comomepercibo .fila .col .contenedor-intereses .interes i{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.mifamilia{
    height: 100vh;
    background-color: #272c30;
    color: #fff;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
}
.family-tree {
    width: 100%;
    display:block;
    margin: 5rem auto;
  }
  
  .family-tree .tree-nodo {
    float:left;
    width: 20rem;
    height: 22rem;
    position:relative;
  }
  .family-tree .tree-nodo2 {
    float:left;
    width: 55rem;
    height: 22rem;
    position:relative;
  }
  .family-tree .tree-nodo3 {
    margin-left: 5rem;
    float:left;
    width: 55rem;
    height: 22rem;
    position:relative;
  }
  
  .family-tree .tree-ejemplar {
    width: 50%;
    height:20rem;
    display: block;
    position:relative;
    border-right:0.1rem solid gray;
    margin:2rem 0;
  }
  
  .family-tree .tree-padres {
    width: 100%;
    height:10rem;
    display: flex;
    position:relative;
    margin:1rem 0;
    border-right:0.1rem solid gray;
  }
  .family-tree .tree-padres .infofam{
    display: flex;
    width: 100rem;
    flex-direction: column;
  }
  .family-tree .tree-padres img{
    height: 10rem;
    border-radius: 100%;
  }
  .family-tree .tree-abuelos {
    width: 100%;
    height:11rem;
    display: flex;
    position:relative;
    margin:0.5rem 0;
  }
  #mama{
    margin-right: 2.2rem;
  }
  #pmama p{
    padding: 0 0;
  }

  .family-tree .tree-abuelos .infofam{
    display: flex;
    width: 100rem;
    flex-direction: column;
  }
  .family-tree .tree-abuelos img{
    height: 10rem;
    border-radius: 100%;
  }
  .family-tree p {
    line-height: normal;
    padding: 0 1.5rem;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /*
    para asignar recuadro a cada nombre
    border:1px solid silver;
    eliminar los demás bordes
    */ 
  }
  .seccion-masmegusta{
    max-width: 110rem;
    margin: auto;
  }
  .seccion-masmegusta h2{
    font-size: 4.2rem;
    font-family: 'Righteous';
    text-align: center;
    padding: 2rem 0;
  }
  .motivacion{
    display: flex;
    background-color: #1e2326;
    height: 100vh;
    color: #fff;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  .motivacion h2{
    font-size: 4.2rem;
    font-family: 'Righteous';
    text-align: center;
    padding: 2rem 0;
  }
  .motivacion .contenido-motivacion{
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .motivacion img{
    height: 40rem;
  }
  .proyeccion{
    display: flex;
    background-color: #272c30;
    height: 100vh;
    color: #fff;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  .proyeccion h2{
    font-size: 4.2rem;
    font-family: 'Righteous';
    text-align: center;
    padding: 2rem 0;
  }
  .proyeccion .contenido-proyeccion{
        width: 35%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
  }
  .proyeccion img{
    height: 40rem;
  }
.misretos{
    display: flex;
    background-color: #1e2326;
    height: 100vh;
    color: #fff;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.misretos h2{
    font-size: 4.2rem;
    font-family: 'Righteous';
    text-align: center;
    padding: 2rem 0;
  }
  .misretos .contenido-misretos{
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
.misretos img{
    height: 60rem;
}
.fortalezas{
    display: flex;
    background-color: #192229;
    height: 100vh;
    color: #fff;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.fortalezas h2{
    font-size: 4.2rem;
    font-family: 'Righteous';
    text-align: center;
    padding: 2rem 0;
  }
.fortalezas .contenido-fortalezas{
    width: 63%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
  .fortalezas img{
    height: 40rem;
  }


  .fortalezas .contenido-fortalezas .contenedor-fortalezas{
    display: flex;
    flex-wrap: wrap;
}
.fortalezas .contenido-fortalezas .contenedor-fortalezas .fortaleza{
    width: 29.5rem;
    height: 12.5rem;
    background-color: #252A2E;
    border-radius: 1rem;
    margin: 0 1.5rem 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.fortalezas .contenido-fortalezas .contenedor-fortalezas .fortaleza:hover{
    background-color: #1cb698;
}
.fortalezas .contenido-fortalezas .contenedor-fortalezas .fortaleza i{
    font-size: 3rem;
    margin-bottom: 1rem;
}

footer{
    background-color: #252A2E;
    color: #fff;
    padding: 5rem 0 3rem 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .arriba{
    display: block;
    width: 5rem;
    height: 5rem;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px ;
    border-radius:50% ;
    line-height: 5rem;
    font-size: 1.8rem;
}
